.profile {
    padding: 10px 20px;
}

.inp{
    border: none;
    border-bottom: 2px solid;
    border-radius: 0;
    margin-bottom: 1rem;
    background-color: var(--tg-theme-secondary-bg-color);
    color: var(--tg-theme-text-color);
}