.category-list {
    display: flex;
    padding: 10px 5px;
    justify-content: space-between;
}

.menu-link {
    display: flex;
    flex-grow: 1;
}
  
.menu-btn {
    height: 75px;
    margin: 5px;
    border: none;
    border-radius: 1rem;
    width: 100%;
    /* background-color: rgb(247, 231, 8);
    color: rgb(11, 2, 78); */
    color: var(--tg-theme-button-text-color);
    background-color: var(--tg-theme-button-color);
} 