.card {
    border: none;
    /* background-color: rgb(241, 241, 241);
    color: black; */
    background-color: var(--tg-theme-secondary-bg-color);
    color: var(--tg-theme-text-color);
    padding: .75rem;
    overflow: hidden;
    border-radius: .5rem;
}

.card-img-top {
    border-radius: .75rem;
}

.card-body {
    /* background-color: white; */
    background-color: var(--tg-theme-bg-color);
    color: var(--tg-theme-text-color);
    border-radius: .75rem;
    margin-top: 1rem;
}

.card-img-top {
    width: 100%;
    height: auto;
}

.card-body {
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.card-name {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}
  
.top-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
  }
  
.card-place {
    font-weight: 500;
}

.card-category {
    font-weight: 300;
}

.bottom-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-price {
    font-weight: 600;
    color: #31b545;
}

.card-offer {
    position: absolute;
    top: 7%;
    left: 8%;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 500;
    font-size: medium;
    border-left: 2px solid white;
    padding-left: 5px;
}