.search-bar {
    position: relative;
    padding: 5px 10px;
}

#drop-down-opts {
  padding: 5px 15px;
  background-color: snow;
  color: black;
  position: absolute;
  width: 100%;
  z-index: 0;
  border-radius: .25rem;
}

.dropdown-item {
  color: black;
  padding: 2px 0px;
}

.dropdown-item:hover{ 
  color: rgb(36, 36, 112);
  border-bottom: 1px solid rgb(207, 207, 207) ;
}

.hidden {
  display: none;
}

.search-icn {
  width: 20px;
  position: absolute;
}

.form-input {
  position: relative;
}

.location-label {
    font-size: 18px;
  }