.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.location-label {
  /* color: white; */
  color: var(--tg-theme-text-color);
}

.bi-person-circle {
  cursor: pointer;
}