.container {
    padding: 10px;
}
  
.content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px 20px;
}

.content-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: rgb(1, 72, 78);
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

.card {
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
}

.card-img-top {
    width: 100%;
    height: auto;
}

.card-body {
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.card-name {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}
  
.top-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
  }
  
.card-place {
    font-weight: 500;
}

.card-category {
    font-weight: 300;
}

.bottom-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-price {
    font-weight: 600;
    color: #31b545;
}
  