/* In your CategoryMenu.css or your main stylesheet */

.btn-list {
    display: flex;
    padding: 10px 20px;
    justify-content: space-between;
}
  
.menu-btn {
    /* Your button styles here */
    flex-basis: 50px;
    height: 75px; /* Adjust padding as needed */
    margin: 5px;
    border: none;
    border-radius: 1rem;
    flex-grow: 1;
    /* text-align: end; */
}

.menu-link {
    color: black;
}

  