.btn-list {
    display: flex;
    padding: 10px 0px;
    justify-content: space-between;
}
  
.menu-btn {
    flex-basis: 50px;
    height: 75px; /* Adjust padding as needed */
    margin: 5px;
    border: none;
    border-radius: 1rem;
    flex-grow: 1;
}

.menu-link {
    color: black;
}
  