#root {
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    /* background-color: black;
    color: white; */
    background-color: var(--tg-theme-bg-color);
    color: var(--tg-theme-text-color);
    font-family: 'Poppins', sans-serif;
    /* font-family: 'Open Sans', sans-serif; */
}

.content-title {
    padding-left: 20px;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    /* color: rgb(225, 234, 235); */
    color: var(--tg-theme-text-color);
}

.btn-back {
    padding: 10px;
    cursor: pointer;
}